#app{
    /* background-color: aquamarine; */
}

p {
    font-size: 1.5rem;
    margin-left: 29.062rem;
    font-weight: 400;
    font-family: "Segoe UI";
    line-height: 2rem;
    margin-top: 1.25rem;
  }
  .milk_box {
    width: 62.5rem;
    height: auto;
    margin-top: -1.5625rem;
    margin-left: 6.25rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: 400;
    font-family: "Segoe UI";
    line-height: 6.25rem;
    letter-spacing: 0.03125rem;
  }
  .box1 {
    width: 12.5rem;
    height: auto;
    float: left;
  }
  span {
    display: block;
  }
  