#app {
  color: #091d44;
}
.login_box {
  position: relative;
  width: 75rem;
  height: 2.5rem;
}
.logo {
  width: 100%;
  height: 5.625rem;
}
.logo img {
  width: 14.375rem;
  height: 5.3125rem;
  object-fit: cover;
}
.forgetPassword {
  width: 75rem;
  height: 3.75rem;
  margin-top: 2.125rem;
}
.forgetPassword p {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Segoe UI";
  color: #091d44;
  letter-spacing: 0.15rem;
}
.p {
  display: block;
  font-size: 0.875rem;
  font-weight: 600;
  font-family: "Segoe UI";
  letter-spacing: 0.05rem;
  margin-top: 0.9375rem;
}
.submit_box {
  width: 75rem;
  height: 29.75rem;
  border: 0.0625rem solid #000;
  margin-top: 1.25rem;
}
.box1 {
  width: 35.625rem;
  height: 3.4375rem;
  margin: 1.25rem 0 0 1.25rem;
}
#sel {
  width: 11.125rem;
  height: 2.9375rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5625rem;
  float: left;
  text-align: center;
  font-weight: 25rem;
  font-family: "Segoe UI";
}
#sel select {
  font-size: 1.125rem;
  width: 7rem;
  height: 1.5rem;
  margin-top: 13px;
  border: none;
}
#sel option {
  color: #091d44;
  border:0px #fff solid;
}
#tel {
  width: 22.615rem;
  height: 2.9375rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5625rem;
  margin-left: 0.625rem;
  float: left;
  font-size: 1.25rem;
  padding-left:.9375rem;
  font-weight: 500;
}
#tel::placeholder {
  color: #091d44;
  font-size: 1rem;
  padding-left: 1.5rem;
  letter-spacing: 0.0625rem;
}
.box2 {
  width: 35.625rem;
  height: 3.4375rem;
  margin: 1.25rem 0 0 1.25rem;
}
.tel2 {
  margin-left: 0;
  width: 22.4375rem;
  height: 2.9375rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5625rem;
  font-size: 1.25rem;
  padding-left:.9375rem;
  font-weight: 500;
}
.tel2::placeholder{
  color: #091d44;
  font-size: 1rem;
  padding-left: 1rem;
  letter-spacing: 0.0625rem;
  
}
.sel2 {
  margin-left: 0.5rem;
  width: 10.5rem;
  height: 2.9375rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5625rem;
  font-size: 1.25rem;
  padding-left :.625rem;
  font-weight: 500;
}

.sel2::placeholder{
  color: #091d44;
  font-size: .875rem;
  padding-left: 0.4rem;
  letter-spacing: 0.0625rem;
}
.box3 {
  width: 35.625rem;
  height: 15rem;
  margin: -0.3125rem 0 0 1.25rem;
}
.t1 {
  width:34.5rem;
  height: 2.9375rem;
  border: 0.0625rem solid #000;
  border-radius: 0.5625rem;
  margin-top: 1.875rem;
  font-size: 1.25rem;
  padding-left:.9375rem;
  font-weight: 500;
}
.t1::placeholder{
  color: #091d44;
  font-size: 1rem;
  padding-left: 1rem;
  letter-spacing: 0.0625rem;
  
}
.box3 p {
  margin-top: 0.625rem;
  float: right;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Segoe UI";
  letter-spacing: 0.05rem;
}
button {
  background-color: #007f5b;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 31.25rem;
  letter-spacing: .0625rem;
text-align: center;
}
.t1_submit{
width:35.625rem;
text-align: center;

}